
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html{
    font-size:10px;
}

:root {
    --Very-Light: hsl(240, 78%, 98%);
    --Light: hsl(234, 14%, 74%);
    --Gray: hsl(233, 13%, 49%);
    --Dark: hsl(232, 13%, 33%);
    --first-gradient: hsl(236, 72%, 79%);
    --second-gradient: hsl(237, 63%, 64%);
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 110px;
    font-size: 1.5rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    background:
      url(images/bg-top.svg) no-repeat top right fixed,
      url(images/bg-bottom.svg) no-repeat bottom left fixed;
    background-color: var(--Very-Light);
  }
  .attribution {
    text-align: center;
  }
  
  section {
    display: flex;
    align-items: center;
  }
  
  header {
    height: 18vh;
    width: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* margin-bottom: 9vh; */
  }
  .big > hr {
    border-top: 1px solid rgb(204, 204, 204);
  }
  .title {
    margin-top: 7rem;
    font-size: 4rem;
    color: var(--Gray);
  }
  .button-component {
    color: var(--Light);
    width: max-content;
  }
  /* slider css */
  .switch {
    position: relative;
    display: inline-block;
    width: 6rem;
    height: 3rem;
    bottom: .3rem;
    margin-right: 4rem;
    margin-left: 4rem;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--first-gradient);
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  .slider:hover {
    background-color: hsl(236, 66%, 86%);
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 2.5rem;
    width: 2.5rem;
    left: .2rem;
    bottom: .3rem;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  
  input:checked + .slider {
    background-color: var(--second-gradient);
  }
  input:checked + .slider:hover {
    background-color: var(--first-gradient);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(30px);
    -ms-transform: translateX(30px);
    transform: translateX(30px);
  }
  .slider.round {
    border-radius: 3.4rem;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  
  .divs {
    padding: 2rem;
    width: 18vw;
    height: 50vh;
    background-color: white;
    color: rgba(0, 0, 0, 0.562);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0.6rem 1.6rem #b3b5c6b0;
  }
  span {
    font-size: 3rem;
  }
  .one {
    border-radius: 10px 0px 0px 10px;
  }
  .two {
    border-radius: 0px 10px 10px 0px;
  }
  .big-text {
    font-size: 5.5rem;
    margin: 1rem;
    color: rgb(85, 84, 84);
  }
  hr {
    border: none;
    border-top: 1px solid #7575753a;
    width: 15vw;
  }
  p {
    margin: 5px;
  }
  button {
    width: 18vw;
    height: 5vh;
    background-image: linear-gradient(
      var(--first-gradient),
      var(--second-gradient)
    );
    border: none;
    border-radius: 5px;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
  }
  button:hover {
    cursor: pointer;
    background: white;
    color: var(--second-gradient);
    border: 1px solid var(--second-gradient);
  }
  .big {
    background-image: linear-gradient(
      var(--first-gradient),
      var(--second-gradient)
    );
    color: white;
    padding-top: 5vh;
    padding-bottom: 5vh;
    border-radius: 1rem;
  }
  .white {
    background: white;
    color: var(--second-gradient);
  }
  .white:hover {
    background: var(--second-gradient);
    color: white;
    border: 1px solid white;
  }
  .special {
    color: white;
  }
  
  @media only screen and (max-width: 970px) {
    .big-text {
      font-size: 4.5rem;
      margin: .7rem;
    }
  }
  @media only screen and (max-width: 790px) {
    .big-text {
      font-size: 4rem;
      margin: .5rem;
    }
  }
  @media only screen and (max-width: 700px) {
    section {
      display: block;
    }
    .divs {
      width: 80vw;
      height: 80vh;
      border-radius: 2rem;
      font-size: 1.7rem;
      margin: 5vh;
    }
    hr {
      width: 70vw;
    }
    .big-text {
      font-size: 9rem;
    }
    h3 {
      font-size: 3rem;
    }
    button {
      width: 75vw;
    }
  }
  @media only screen and (max-width: 430px) {
    .big-text {
      font-size: 7rem;
      margin: .5rem;
    }
  }